@font-face {
  font-family: "Limerence"; /*a name to be used later*/
  src: url("../assets/Limerence.ttf"); /*URL to font*/
}

/* CONFIG */
/* sprites */
/* line 258, heading/*.png */
.heading-sprite, .heading-add-to-our-story, .heading-amazon, .heading-americas-finest-city, .heading-book-by-phone, .heading-book-online, .heading-bridesmaides, .heading-crate-and-barrel, .heading-festivities, .heading-groomsmen, .heading-header, .heading-history-2007, .heading-history-2008, .heading-history-2009, .heading-history-2010, .heading-history-2011, .heading-history-2012, .heading-history-2013, .heading-hotel-indigo, .heading-love-small, .heading-meet-the-bridesmaides-over, .heading-meet-the-bridesmaides, .heading-meet-the-groomsmen-over, .heading-meet-the-groomsmen, .heading-registry, .heading-rest-your-head, .heading-to-do, .heading-to-eat, .heading-west-elm {
  background: url('../img/heading-s0fb21cda38.png') no-repeat;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-add-to-our-story {
  background-position: 0 -540px;
  height: 78px;
  width: 637px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-amazon {
  background-position: 0 -3537px;
  height: 108px;
  width: 161px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-americas-finest-city {
  background-position: 0 -628px;
  height: 78px;
  width: 733px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-book-by-phone {
  background-position: 0 -1312px;
  height: 191px;
  width: 160px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-book-online {
  background-position: 0 -1685px;
  height: 191px;
  width: 161px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-festivities {
  background-position: 0 -999px;
  height: 126px;
  width: 449px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-header {
  background-position: 0 0;
  height: 530px;
  width: 905px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-registry {
  background-position: 0 -3091px;
  height: 78px;
  width: 406px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.heading-to-do {
  background-position: 0 -3967px;
  height: 30px;
  width: 197px;
}

/* line 106, icn/*.png */
.icn-sprite, .icn-back, .icn-bridal-party, .icn-history-close, .icn-history-more, .icn-indicator-off, .icn-indicator-on, .icn-live-map, .icn-slideshow-left, .icn-slideshow-right {
  background: url('../img/icn-s899ef60716.png') no-repeat;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icn-back {
  background-position: 0 -348px;
  height: 226px;
  width: 206px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icn-indicator-off {
  background-position: 0 -1066px;
  height: 15px;
  width: 15px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icn-indicator-on {
  background-position: 0 -1041px;
  height: 15px;
  width: 15px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icn-slideshow-left {
  background-position: 0 -852px;
  height: 100px;
  width: 55px;
}

/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icn-slideshow-right {
  background-position: 0 -742px;
  height: 100px;
  width: 55px;
}

/* VARIABLES */
/* colors */
/* type */
/* MIXINS */
/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */
/* line 67, ../sass/screen.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 71, ../sass/screen.scss */
a {
  text-decoration: underline;
}

/* line 75, ../sass/screen.scss */
a:hover {
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

/* line 79, ../sass/screen.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 84, ../sass/screen.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 89, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 98, ../sass/screen.scss */
img {
  vertical-align: middle;
}

/* line 102, ../sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 108, ../sass/screen.scss */
textarea {
  resize: vertical;
}

/* line 112, ../sass/screen.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Ashleigh and Jarrod Styles
========================================================================== */
/* ICONS/BUTTONS SPRITES */
/* line 127, ../sass/screen.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  margin: 0 3px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

/* GLOBAL LAYOUT */
/* line 139, ../sass/screen.scss */
body {
  font-family: "neuton", serif;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 1px;
  background: #282828;
  color: #161616;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* line 149, ../sass/screen.scss */
h1 {
  font-size: 46px;
  font-size: 3.28571rem;
  margin: 30px 0 40px;
  text-align: center;
}

/* line 155, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

/* line 160, ../sass/screen.scss */
.container {
  width: 1280px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  position: relative;
  padding-top: 768px;
}
/* line 167, ../sass/screen.scss */
.touch .container {
  padding-top: 0;
}

/* line 172, ../sass/screen.scss */
.container section {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 181, ../sass/screen.scss */
.wrapper {
  overflow: hidden;
  *zoom: 1;
  width: 760px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* line 188, ../sass/screen.scss */
.wrapper h2 {
  margin: 80px 0 0 0;
}
/* line 192, ../sass/screen.scss */
.wrapper h2, .wrapper h3 {
  display: inline-block;
}
/* line 195, ../sass/screen.scss */
.ie7 .wrapper h2, .ie7 .wrapper h3 {
  display: block;
  margin-left: 30%;
}

/* line 202, ../sass/screen.scss */
#navigation {
  position: absolute;
  top: 717px;
  width: 100%;
  height: 51px;
  line-height: 51px;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
/* line 212, ../sass/screen.scss */
#navigation ul {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
/* line 218, ../sass/screen.scss */
#navigation ul li {
  display: inline;
  margin-right: 20px;
}
/* line 222, ../sass/screen.scss */
#navigation ul li.last {
  margin: 0;
}
/* line 228, ../sass/screen.scss */
#navigation a {
  font-family: "brandon", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #b2b2b2;
  font-size: 12px;
  font-size: 0.85714rem;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
/* line 238, ../sass/screen.scss */
#navigation li.active a {
  color: #fff;
}

/* line 243, ../sass/screen.scss */
#home {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -640px;
  height: 768px;
  width: 1280px;
  z-index: 1;
}
/* line 252, ../sass/screen.scss */
#home .image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../img/bg/backgroundObject0.jpg) no-repeat left top;
  z-index: 1;
}
/* line 261, ../sass/screen.scss */
#home .image div {
  z-index: 1;
}

#home p {
  position: absolute;
  font-family: "Limerence";
  right: 0px;
  left: 0px;
  Top: 30%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: rgb(185, 162, 94);
  z-index: 2;
}
/* line 266, ../sass/screen.scss */
#home h1 {
  position: absolute;
  margin-left: -453px;
  top: 50px;
  left: 50%;
  text-indent: -9999px;
  z-index: 2;
}

.opl {
position:fixed;
top:100px;
left:0px;
z-index:99999;
}


/* line 282, ../sass/screen.scss */
.touch #home {
  position: relative;
}

/* line 287, ../sass/screen.scss */
#our-story {
  height: 836px;
  z-index: 2;
}

h1.our-story {
  position: absolute;
  text-align: left;
  font-family: "Limerence";
  font-size: 400%;
  font-weight: bold;
  color: rgb(185, 162, 94);
  left: 8%;
  top: 10%;
  height: 15%;
  width: 40%;
}

h2.our-story {
  position: absolute;
  text-align: center;
  font-family: "Limerence";
  font-size: 220%;
  font-weight: normal;
  color: rgb(24, 21, 21);
  left: 6%;
  top: 22%;
  height: 70%;
  width: 50%;
}

/* line 291, ../sass/screen.scss */
#our-story .carousel-inner {
  height: 100%;
}
/* line 295, ../sass/screen.scss */
#our-story .carousel-indicators {
  display: block;

}
/* line 299, ../sass/screen.scss */
#our-story .item {
  float: left;
  width: 100%;
  height: 100%;
}
/* line 304, ../sass/screen.scss */
#our-story .item > img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
/* line 313, ../sass/screen.scss */
#our-story .icn-history-more {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  top: 500px;
  text-indent: -9999px;
}
/* line 321, ../sass/screen.scss */
#our-story .icn-history-close {
  display: inline-block;
  margin-top: 40px;
  text-indent: -9999px;
}
/* line 326, ../sass/screen.scss */
.ie7 #our-story .icn-history-close {
  display: block;
  margin-left: 40%;
}
/* line 332, ../sass/screen.scss */
#our-story .info {
  position: absolute;
  bottom: -770px;
  left: 50%;
  width: 660px;
  height: 100%;
  margin: 0 0 0 -330px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px black;
  text-align: center;
}
/* line 343, ../sass/screen.scss */
#our-story .info h3 {
  margin-top: 120px;
  display: inline-block;
}
/* line 347, ../sass/screen.scss */
.ie7 #our-story .info h3 {
  display: block;
  margin-left: 30%;
}
/* line 353, ../sass/screen.scss */
#our-story .info p {
  width: 450px;
  margin: 0 auto 10px;
}
/* line 358, ../sass/screen.scss */
#our-story .info img {
  display: block;
}

#our-story a {
  color: #a29061;
}

/* line 569, ../sass/screen.scss */
#festivity-details {
  height: 836px;
}

#weekend-activities{
  height: 836px;
}

#stayzAccomButton {
  position: absolute;
  left: 15%;
  top: 49%;
  height: 4%;
  width: 15.5%;
  border: none;
  border-bottom-style: double;
  border-bottom-color: rgb(163, 0, 50);
  background: none;
}

#holidayRentalSpecialistsButton {
  position: absolute;
  left: 33.3%;
  top: 49%;
  height: 4%;
  width: 18.5%;
  border: none;
  border-bottom-style: double;
  border-bottom-color: rgb(163, 0, 50);
  background: none;
}

#berrimaBakehouseButton {
  position: absolute;
  left: 15%;
  top: 56%;
  height: 4%;
  width: 31%;
  border: none;
  border-bottom-style: double;
  border-bottom-color: rgb(163, 0, 50);
  background: none;
}

#gibraltarHotelButton {
  position: absolute;
  left: 15%;
  top: 67%;
  height: 4%;
  width: 31%;
  border: none;
  border-bottom-style: double;
  border-bottom-color: rgb(163, 0, 50);
  background: none;
}

#walkingTourButton {
  position: absolute;
  font-family: "Limerence";
  font-size: 35px;
  color: rgb(185, 162, 94);
  right: 18%;
  top: 39%;
  height: 14%;
  width: 12%;
  border: none;
  background: none;
}

/* line 703, ../sass/screen.scss */
#registry {
  height: 836px;
}

h1.registry {
  position: absolute;
  text-align: center;
  font-family: "Limerence";
  font-size: 400%;
  font-weight: bold;
  color: rgb(185, 162, 94);
  right: 6%;
  top: 14%;
  height: 15%;
  width: 40%;
}

/* line 703, ../sass/screen.scss */
#rsvp {
  height: 836px;
}

h1.rsvp {
  position: absolute;
  text-align: center;
  font-family: "Limerence";
  font-size: 1000%;
  color: rgb(163, 0, 50);
  left: 30%;
  right: 20%;
  top: 30%;
  height: 20%;
  border-bottom-style: double;
  border-bottom-color: rgb(163, 0, 50);
  cursor: pointer;
}

#presentRSVPForm {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  background: none;
}

#rsvp .first {
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../img/bg/backgroundObject6-0.png) no-repeat left top;
}

#rsvp .second {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../img/bg/backgroundObject6-1.png) no-repeat left top;
}

#rsvpILabel {
  position: absolute;
  font-size: 200%;
  left: 15%;
  top: 20%;
  height: 5%;
  width: 5%;
  color: rgb(32, 31, 107);
}

#rsvpSelectName {
  position: absolute;
  font-size: 200%;
  left: 16.5%;
  top: 20%;
  height: 5%;
  width: 25%;
  color: rgb(32, 31, 107);
}

#rsvpButtonAccept {
  position: absolute;
  left: 15%;
  top: 31%;
  height: 2%;
  width: 2%;
}

#rsvpButtonLabelAccept {
  position: absolute;
  font-size: 200%;
  left: 17%;
  top: 29.5%;
  height: 10%;
  width: 30%;
}

#rsvpButtonDecline {
  position: absolute;
  left: 15%;
  top: 36.5%;
  height: 2%;
  width: 2%;
}

#rsvpButtonLabelDecline {
  position: absolute;
  font-size: 200%;
  left: 17%;
  top: 35%;
  height: 10%;
  width: 30%;
}

#rsvpDietaryReqLabel {
  position: absolute;
  font-size: 200%;
  left: 15%;
  top: 44%;
  height: 5%;
  width: 50%;
}

#rsvpDietaryReq {
  position: absolute;
  font-size: 200%;
  left: 15%;
  top: 50%;
  height: 5%;
  width: 30%;
}

#rsvpSelectShuttleLabel {
  position: absolute;
  font-size: 200%;
  left: 15%;
  top: 59%;
  height: 15%;
  width: 70%;
}

#rsvpSelectShuttle {
  position: absolute;
  font-size: 200%;
  right: 15%;
  top: 65%;
  height: 5%;
  width: 25%;
}

#rsvpPreDinnerLabel{
  position: absolute;
  font-size: 200%;
  left: 15%;
  top: 75%;
  height: 5%;
  width: 70%;
}

#rsvpSelectPreDinner{
  position: absolute;
  font-size: 200%;
  left: 15%;
  top: 80%;
  height: 5%;
  width: 25%;
}

#rsvpSubmitButton{
  position: absolute;
  font-family: "Limerence";
  font-size: 270%;
  color: rgb(185, 162, 94);
  text-decoration-line: underline;
  right: 1.3%;
  bottom: 2%;
  height: 15%;
  width: 11%;
  border: none;
  background: none;
}

#rsvp .third {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(../img/bg/backgroundObject6-2.png) no-repeat left top;
}

h1.thanks {
  position: absolute;
  text-align: center;
  font-family: "Limerence";
  font-size: 800%;
  color: rgb(163, 0, 50);
  left: 0%;
  right: 0%;
  top: 37%;
  height: 20%;
}

/* line 784, ../sass/screen.scss */
#add-to-our-story {
  height: 836px;
}
/* line 787, ../sass/screen.scss */
#add-to-our-story .heading-love-small {
  display: inline-block;
  text-indent: -9999px;
}
/* line 791, ../sass/screen.scss */
.ie7 #add-to-our-story .heading-love-small {
  display: block;
  margin-left: 45%;
}
/* line 797, ../sass/screen.scss */
#add-to-our-story .sig {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 802, ../sass/screen.scss */
#add-to-our-story .tagline {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-family: "brandon", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  font-size: 8px;
  font-size: 0.5rem;
  opacity: .7;
}
/* line 816, ../sass/screen.scss */
#add-to-our-story .tagline a {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}
/* line 823, ../sass/screen.scss */
#add-to-our-story a {
  color: #a29061;
}
/* line 827, ../sass/screen.scss */
#add-to-our-story strong {
  font-family: "brandon", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.28571rem;
  letter-spacing: 2px;
}

/* Bootstrap carousel styles */
/* line 838, ../sass/screen.scss */
.carousel {
  position: relative;
  margin-bottom: 20px;
}

/* line 843, ../sass/screen.scss */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 849, ../sass/screen.scss */
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

/* line 859, ../sass/screen.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

/* line 866, ../sass/screen.scss */
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

/* line 870, ../sass/screen.scss */
.carousel-inner > .active {
  left: 0;
}

/* line 875, ../sass/screen.scss */
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 881, ../sass/screen.scss */
.carousel-inner > .next {
  left: 100%;
}

/* line 885, ../sass/screen.scss */
.carousel-inner > .prev {
  left: -100%;
}

/* line 890, ../sass/screen.scss */
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

/* line 894, ../sass/screen.scss */
.carousel-inner > .active.left {
  left: -100%;
}

/* line 898, ../sass/screen.scss */
.carousel-inner > .active.right {
  left: 100%;
}

/* line 902, ../sass/screen.scss */
.carousel-control {
  position: absolute;
  color: rgb(185, 162, 94);
  top: 30%;
  left: 1%;
  margin-top: 0px;
  font-size: 1500%;
  text-indent: 0px;
  text-decoration: none;
}

/* line 911, ../sass/screen.scss */
.carousel-control.right {
  right: 2%;
  left: auto;
}

/* line 917, ../sass/screen.scss */
.carousel-control:hover,
.carousel-control:focus {
  text-decoration: none;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

/* line 923, ../sass/screen.scss */
.carousel-indicators {
  position: absolute;
  bottom: 15px;
  right: 50%;
  z-index: 5;
  margin: 0;
  list-style: none;
}

/* line 932, ../sass/screen.scss */
.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

/* line 945, ../sass/screen.scss */
.carousel-indicators .active {
  background-color: #fff;
}

/* line 949, ../sass/screen.scss */
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

/* line 960, ../sass/screen.scss */
.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

/* line 965, ../sass/screen.scss */
.carousel-caption h4 {
  margin: 0 0 5px;
}

/* line 969, ../sass/screen.scss */
.carousel-caption p {
  margin-bottom: 0;
}

/* ==========================================================================
Helpers
========================================================================== */
/* line 978, ../sass/screen.scss */
strong {
  color: #000;
}

/* line 982, ../sass/screen.scss */
[data-original] {
  background: url(../img/loading.gif) no-repeat 50% 50%;
}

/* line 986, ../sass/screen.scss */
[data-bg]:after {
  position: absolute;
  content: " ";
  background: #eeeeee url(../img/loading.gif) no-repeat 50% 50%;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 996, ../sass/screen.scss */
.progressive-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 1004, ../sass/screen.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 1011, ../sass/screen.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 1018, ../sass/screen.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 1023, ../sass/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 1035, ../sass/screen.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 1044, ../sass/screen.scss */
.invisible {
  visibility: hidden;
}

/* ==========================================================================
Print styles
========================================================================== */
@media print {
  /* line 1054, ../sass/screen.scss */
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 1062, ../sass/screen.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 1066, ../sass/screen.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 1070, ../sass/screen.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */
  /* line 1080, ../sass/screen.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 1085, ../sass/screen.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 1090, ../sass/screen.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 1095, ../sass/screen.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 1099, ../sass/screen.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 1109, ../sass/screen.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 1115, ../sass/screen.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* one page love */
.opl {
  position:relative;
  top:250px;
  left:0px;
  z-index:99999;
}

.cssda {
  position: relative;
  top: 275px;
  width: 68px;
  height: 95px;
  z-index: 99999;
}