body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 700;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
  }
  
  .titleSection {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject0.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }

  .titleSection h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
  }

  .section1 {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
  }

  .section1TextPadding {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section1 h2 {
    font-size: 26px;
    font-weight: 70;
    margin: 0;
    line-height: 2;
    color: #000000;
  }

  .section2 {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
  }

  .section3 {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
  }

  .section4 {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
  }

  .section5 {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject5.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
  }

  .section6 {
    display: flex;
    align-items: center;
    background-image: url('images/backgroundObject6.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    color: #ffffff;
    min-height: 700px;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }